.radios, .playLists {
  margin-left: 10px;
  margin-right: 10px; }
  .radios .list-title, .playLists .list-title {
    margin-bottom: 11px;
    font-weight: normal;
    font-size: 16px; }
  .radios .list, .radios .songList, .playLists .list, .playLists .songList {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px; }
    .radios .list .list-item, .radios .songList .list-item, .playLists .list .list-item, .playLists .songList .list-item {
      flex-basis: 50%;
      background: #fff;
      padding-right: 8px;
      padding-bottom: 36px;
      position: relative; }
      .radios .list .list-item .list-media, .radios .songList .list-item .list-media, .playLists .list .list-item .list-media, .playLists .songList .list-item .list-media {
        position: relative;
        margin-bottom: 5px; }
        .radios .list .list-item .list-media:before, .radios .songList .list-item .list-media:before, .playLists .list .list-item .list-media:before, .playLists .songList .list-item .list-media:before {
          content: "";
          display: block;
          padding-top: 100%; }
        .radios .list .list-item .list-media img, .radios .songList .list-item .list-media img, .playLists .list .list-item .list-media img, .playLists .songList .list-item .list-media img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: block; }
        .radios .list .list-item .list-media .icon, .radios .songList .list-item .list-media .icon, .playLists .list .list-item .list-media .icon, .playLists .songList .list-item .list-media .icon {
          width: 24px;
          height: 24px;
          background: url("../images/list_sprite.png");
          background-size: 100%;
          position: absolute;
          bottom: 5px;
          right: 5px; }
      .radios .list .list-item .info .title, .radios .songList .list-item .info .title, .playLists .list .list-item .info .title, .playLists .songList .list-item .info .title {
        width: 100%;
        height: 36px;
        font-size: 14px;
        font-weight: normal;
        color: #000;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 8px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:before, *:after {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header h1 {
    display: none; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }

.qq-slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 14px;
  font-size: 0; }
  .qq-slider .qq-slider-wrap {
    display: flex;
    width: 500%;
    transition: .6s; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a img {
        width: 100%; }

.navbar .nav-list {
  display: flex;
  height: 40px;
  align-items: center; }
  .navbar .nav-list li {
    flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative; }
    .navbar .nav-list li.active {
      color: #31c27c; }
      .navbar .nav-list li.active:after {
        display: block;
        content: '';
        width: 100%;
        border-top: 2px solid #31c27c;
        position: absolute;
        bottom: 0; }

.hide {
  display: none; }

.rank-view .list {
  margin: 10px; }
  .rank-view .list .list-item {
    background: #fff;
    margin-bottom: 10px;
    display: flex; }
    .rank-view .list .list-item .img a {
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
      color: #fff; }
    .rank-view .list .list-item .img img {
      display: block;
      width: 100px;
      height: 100px; }
    .rank-view .list .list-item .img .listen-count {
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-size: 12px; }
      .rank-view .list .list-item .img .listen-count .icon {
        float: left;
        width: 10px;
        height: 10px;
        background: url("../images/list_sprite.png") no-repeat;
        background-size: 24px 60px;
        background-position: 0 -50px;
        margin-top: 3px; }
      .rank-view .list .list-item .img .listen-count .num {
        margin-left: 2px; }
    .rank-view .list .list-item .text {
      line-height: 22px;
      padding: 5px 10px 5px 15px;
      font-size: 14px;
      overflow: hidden;
      flex: 1;
      position: relative; }
      .rank-view .list .list-item .text h3 {
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 5px; }
      .rank-view .list .list-item .text p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.5); }
        .rank-view .list .list-item .text p span {
          color: #000; }
      .rank-view .list .list-item .text .arrow {
        display: block;
        width: 8px;
        height: 8px;
        border: 1px solid #bbb;
          border-left: 0;
          border-top: 0;
        transform: rotate(-45deg);
        position: absolute;
        right: 10px;
        top: 50%; }

body {
  background: #f4f4f4; }

/*# sourceMappingURL=app.css.map */
