.player-container{
  display: flex; flex-wrap: wrap; width: 100%; height: 100vh; flex-direction: column;
  position: absolute; top: 0; left: 0; z-index: 2; color: #fff;
  .player-header{
    display: flex; padding: 20px; position: relative;
    .img{
      height: 100%;
      img{
        display: block; width: 80px; height: 80px;
      }
    }
    .text{
      margin-left: 10px;
      h4{
        font-weight: normal; font-size: 18px; margin-bottom: 5px;
      }
      p{

      }
    }
    .icon{
      width: 45px; height: 45px; border: 1px solid rgba(255,255,255,.6); border-radius: 50%;
      position: absolute; right: 30px; top: 30px;

      i{
        display: block; width: 40px; height: 30px;
        background: url("../images/sprite_play.png") no-repeat;
        background-size: cover; background-position: 18px -142px;
        position: absolute; top: 4px;
        &.icon-play{
          background-position: 18px -142px;
        }
        &.icon-pause{
          background-position: 18px -170px;
        }
      }
     /* &:after{
        display: block; content: ''; border: 10px solid transparent; border-left: 16px solid rgba(255,255,255,.6);
        position: absolute; top: 50%; left: 50%; transform: translateY(-50%); margin-left: -5px;
      }*/
    }
  }
  .player-lyrics{
    text-align: center; line-height: 42px; flex: 1; overflow: hidden; color: $lyrics-color;
    .active{
      color: $header-background;
    }
  }
  .player-footer{
    height: 154px; position: relative; padding-top: 40px;
    .like{
      width: 25px; height: 21px; background: url("../images/sprite_play.png") no-repeat;
      position: absolute; right: 23px; top: -10px;
      background-size: 40px 350px; background-position: 0 0;
    }
    .progress{
      display: flex; align-items: center;
      font-size: 12px; padding: 0 10px; color: $lyrics-color;
      .progress-time{
        padding: 0 10px;
      }
      .progress-bar{
        flex: 1; background: $lyrics-color; height: 2px; overflow: hidden;
        .bar{
          width: 100%; height: 100%; background: $header-background; transform: translateX(-100%);
        }
      }
    }
    .action{
      margin: 20px 50px 0; background: $header-background; border-radius: 30px;
      a{
        display: block; color: #fff; line-height: 44px; font-size: 20px; text-align: center; position: relative;
        &:before{
          display: block; width: 33px; height: 33px; content: "";
          background: url("../images/sprite_play.png") no-repeat;
          background-position: 0 -242px; background-size: cover;
          position: absolute; left: 7px; top: 3px;
        }
      }
    }
  }
  .background{
    width: 100%; height: 100vh; position: absolute; top: 0; left: 0; background: #000; z-index: -1;
  }
}